.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#474bff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

.image:hover .overlay {
  display: block;
}

body::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
/* width */
.scrollbar-hidden::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* cho ai chưa hiểu nhé ! copy đoạn code dưới dán vào css là được */
/* width */
.scrollbar::-webkit-scrollbar {
    width: 10px;
  }
 
  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
  }
/* end */